/*
Dark Grey: #011627; //rgba(1, 22, 39, 100)
Accent: #ff3366; //rgba(255, 51, 102, 100)
Main Blue: #00afff; //rgba(0, 175, 255, 100)
Green: #2ec4b6; //rgba(46, 196, 182, 100)
Ligth Grey: #f6f7f8; //rgba(246, 247, 248, 100)
*/

/*****************************************************************************************************/
/* General                                                                                           
******************************************************************************************************/
a:hover, a:active, a:focus {
  outline: none;
}

html, body {
	font-family: "Raleway";
	font-size: 16px;
}

h3,h4,h5{
	font-family: "Bitter";
}

h5{
	color: #5a5a5a;
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 21px;
}

h4{
	font-size: 27px;
	margin-bottom: 25px;
	color: #007AB2;
}

h3{
	font-size: 35px;
	font-weight: 700;
	margin-top: 0;
	color: #007AB2;
}

.portfolio__description-paragraph{
	margin-top: 15px;
	font-size: 17px;
	line-height: 1.5;
	font-weight: 200;
	color: #848484;
}

.portfolio__description-paragraph > span{
	font-weight: 500;
	color: #7D7D7D;
}
/*****************************************************************************************************/
/* Buttons                                                                                          
******************************************************************************************************/

.btn{
	position: relative;
	border-radius: 0px;
	font-size: 17px;
	font-weight: 400;
	padding: 8px 21px;
	color: #fff;
	border: 1px solid #00afff;
	border-radius: 3px;
	overflow: hidden;
	background-color: #00afff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}

.btn:before {
	content: 'Visitar sitio';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 101;
}

.btn:hover,
.btn:active {
	color: #00afff;
}

.btn:hover:after {
	height: 260%;
	opacity: 1;
}

.btn:hover:before {
	opacity: 1;
}
.btn:active:after {
	height: 400%;
	opacity: 1;
}

/*****************************************************************************************************/
/* Side Menu                                                                                        
******************************************************************************************************/

.st-container{
	overflow: hidden;
}

.st-menu{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 300px;
	z-index: 1;
	background-color: #243042;
}

.st-menu__list{
	list-style: none;
	padding: 0;
	margin-top: 72px;
	border-top: 5px solid #00afff;
}

.st-menu__list-item{
	position: relative;
	height: 67px;
	padding: 0 32px;
}

.contact-link{
	width: 100%;
	height: 100%;
	display: block;
}

.st-menu__list-item:hover{
	background: rgba(31,41,56,.5);38;
}

.st-menu__list-item .fa{
	line-height: 67px;
	font-size: 36px;
	color: #697382;
}

.st-menu__list-item p{
	position: absolute;
	left: 82px;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	color: #697382;
	font-weight: 400;
}

.st-menu__list-item:hover .fa,
.st-menu__list-item:hover p{
	color: #00afff;
}

.st-pusher{
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	perspective: 1000px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	background: #5a5a5a;
	box-shadow: 4px 0px 10px 5px rgba(0,0,0,.4);
}

.st-container.st-menu-open .st-pusher:after{
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	opacity: 0;
	transition: opacity 0.5s;
	z-index: 999;
}

.st-container.st-menu-open .st-pusher{
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(-300px, 0px, 0px);
}

.st-container.st-menu-open .st-pusher:after{
	opacity: 1;
}

@media (max-width: 767px){
	.st-menu{
		width: 100px;
	}

	.st-container.st-menu-open .st-pusher{
		-webkit-transform: translate3d(100px, 0, 0);
		transform: translate3d(-100px, 0px, 0px);
	}
}
/*****************************************************************************************************/
/* Header                                                                                           
******************************************************************************************************/

@keyframes gradientFadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

.header {
	position: relative;
  	height: 100vh;
  	width: 100%;
  	padding: 50px;
  	background: #00afff;
  	background: linear-gradient(rgba(0,175,255,1),rgba(0,175,255,1));
  	background: url(../images/bg.jpg);
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 9;
}


.header__container,
.header__row,
.header__col{
	height: 100%;
}


.header__text-container{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header__subheading{
	font-size: 50px;
    margin-top: 0;
    color: #fff;
    font-weight: 200;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.myname{
	font-weight: 400;
}

.header__heading{
	font-size: 60px;
	font-weight: 900;
	color: #00afff;
	text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

/*****************************************************************************************************/
/* Portfolio                                                                                          
******************************************************************************************************/

.portfolio__section{
	padding: 50px;
	background-color: #fff;
	position: relative;
	z-index: 10;
}

.portfolio__section:nth-child(odd){
	background-color: #f7fcfe;
	background-image: url("../images/overlay.png"), url("../images/checker-pattern.svg");
	background-position: center bottom;
	background-repeat: repeat;
	z-index: 9;
	box-shadow: 0px -8px 8px -4px rgba(0, 0, 0, 0.05) inset;
}

.portfolio__section:nth-child(even){
	box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px){
	.portfolio__section{
		padding: 20px;
		padding-bottom: 50px;
	}
}

/* Slider */

.portfolio__carousel{
	text-align: center;
}

.portfolio__description{
	margin-bottom: 50px;
}

.fc{
	margin: 0;
}

.fc .fc-controls{
	display: none;
}

.fc .fc-pagination{
	top: 100%;
}

.fc .fc-image-masked {
    background-position: top;
}

.fc .fc-image-mask {
    background: #000;
}

/*****************************************************************************************************/
/* Topbar                                                                                          
******************************************************************************************************/
.topbar{
	width: 100%;
	height: 72px;
	position: fixed;
	z-index: 999;
	-webkit-transition: background-image .25s ease-in-out;
	-moz-transition: background-image .25s ease-in-out;
	-o-transition: background-image .25s ease-in-out;
	transition: background-image .25s ease-in-out;
	background-image: none;
	background-position: top center;
	background-size: cover;
}

.topbar.afterheader{
	background-image: url(../images/bg.jpg);
	box-shadow: 0px 3px 6px rgba(0,0,0,.3);
}

.topbar__logo{
	position: absolute;
	left: 65px;
	top: 50%;
	transform: translateY(-50%);
	height: 25px;
}

.hamburger { 
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 65px;
  margin: 0;
  -webkit-transform: rotate(0deg), translateY(-50%);
  -moz-transform: rotate(0deg), translateY(-50%);
  -o-transform: rotate(0deg), translateY(-50%);
  transform: rotate(0deg), translateY(-50%);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  
}

.hamburger span {
  display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 4px;
}

.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
  top: 11px;
}

.hamburger span:nth-child(4) {
  top: 18px;
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.hamburger.open{
	right: 36px;
}

.hamburger.open span{
  background: #697382;
}

.hamburger.open:hover span{
  background: #00afff;
}