a:hover, a:active, a:focus {
  outline: none;
}

html, body {
	font-family: "Raleway";
	font-size: 16px;
}

section{
	padding: 50px;
	background-color: #ececec;
}

@media (max-width: 767px){
	section{
		padding: 20px;
		padding-bottom: 50px;
	}
}

section .carousel{
	text-align: center;
}

section .description{
	margin-bottom: 50px;
}

.fc{
	margin: 0;
}

.fc .fc-controls{
	display: none;
}

.fc .fc-pagination{
	top: 100%;
}

.fc .fc-image-masked {
    background-position: top;
}